@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import "colors";
@import "fonts";
@import "button";
@import "container";

$bold: "bold";

* {
	box-sizing: border-box;
}

body {
	background: $color_f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: $fonts;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: $bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

form {
	background-color: $color_white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: $color_white;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

