<div class="container__form container__sign-up">
	<form action="#" method="POST">
        <h1>{{ title_register }}</h1><br /><br />

        <input type="text" name="loginRegister" placeholder="Login..." />
        <input type="password" name="password" placeholder="Password..." />
        <button class="pointer" name="sendReg">{{ title_register }}</button>
	</form>
</div>